.navbar-fixed-top{
  background: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 5px 15px -6px #eee;
}

@media @desktop {
  #navbar{
    margin-top: 6px;
  }
}

.navbar-brand{
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto !important;
}