nav{
  .container{
    .row{
      .nav-logo{
        a{
          display: block;
          width: 83px;
          height: 92px;
          margin: 10px;
          background: url(/dist/images/logo.png); 
        }
      }
      .nav-search{
        padding-top: 35px;
      }
      .nav-user{
        padding-top: 25px;
        .nav-user-dropdown{
          .navbar-nav{
            margin-top: 10px;
          }
        }
        img{
          border-radius: 30px;
        }
      }
    }
  }
}